<% provide(:title, 'About me' )%>
<% provide(:title_content, 'we can contact') %>

<div class="bs-docs-section">
    <div class="page-header">
        <h1>关于我和这个Blog</h1>
    </div>
    <p class="lead">
    本人是一个4年游戏开发经验的程序...<br>
    在工作之余接触到Ruby和Rails...<br>
    随后在工作之中使用Ruby...<br>
    随后开始学习使用Rails...<br>
    再然后就有了这个Blog...<br>
    </p>
</div>

<div class="bs-docs-section">
    <div class="page-header">
        <h1>详细一点</h1>
    </div>
    <%= gravatar_for %>

    <% table_hash=Hash.new %>
    <% table_hash['ID']='AssassinPig' %>
    <% table_hash['Name']='zhufeng' %>
    <% table_hash['Field']='game programming/web development' %>
    <% table_hash['Interest']='Football/Starcarft II' %>
    <% table_hash['City']="Shanghai/Ji\'nan" %>
    <% table_hash['Faith']="始终不渝就没有失败" %>
    <% table_hash['Focus On']="东亚足球和中国近现代社会20年" %>

    <table class="table">
        <% table_hash.each do |k,v|%>
            <tr>
                <td>
                    <label><%=k%></label>
                </td>
                <td>
                    <%= v%>
                </td>
            </tr>
        <% end %>
        <tr>
            <td>
                <label>Github</label>
            </td>
            <td>
                <a href="https://github.com/AssassinPig">https://github.com/AssassinPig</a>
            </td>
        </tr>
        <tr>
            <td><label>other projects</label>
            </td>
            <td>
            <a href="http://git.oschina.net/assassinpig">http://git.oschina.net/assassinpig</a>
            </td>
        </tr>
        <tr>
            <td><label>Email</label>
            </td>
            <td>
            <a href="mailto:assassinpig@gmail.com">assassinpig@gmail.com</a>
            </td>
        </tr>
    </table>
</div>

<div class="bs-docs-section">
    <div class="page-header"></div>
    <%= form_for(:password, url: static_pages_admin_path) do |f| %>
        <%= f.password_field :password %>
        <%= f.submit "admin", class: "btn btn-success" %>
    <% end %>
</div>

