<% provide(:title, 'admin' )%>
<% provide(:title_content, 'I am back!!!') %>

<div class="bs-docs-section">
    <div class="page-header">
        <h1>新文章</h1>
    </div>
    <%= form_for :new_post, :url => posts_path, :method => :post do |f| %>
        <div>
            <% categories = Array.new %>
            <% @categories.each do |c| %>
                <% categories.append([c.name, c.id]) %>
            <% end %>
            <%= f.select :category_id, options_for_select(categories) %>
            <%= f.text_field :title, :value=>"title", size:40 %>
        </div>
        <div>
            <%= f.text_area :content , cols:60, rows:20 %>
        </div>
        <div>
            <%= f.submit "save post"%>
        </div>
    <% end %>
</div>

<div class="bs-docs-section">
    <div class="page-header">
        <h1>目前文章列表</h1>
    </div>
    <ul>
        <% @posts.each do |post| %> 
            <li>
            <%= link_to post.title, post_path(post) %>
            <%= link_to "edit", edit_post_path(post) %>
            <%= link_to "delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>
            </li>
        <% end %>
    </ul>
</div>

<div class="bs-docs-section">
    <div class="page-header">
        <h1>目前分类</h1>
    </div>
    <ul>
        <% @categories.each do |c| %>
            <li>
            <%= label c, c.name %> 
            <%= link_to "delete", category_path(c), method: :delete, data: {confirm: "Are you sure?" }%>
            </li>
        <% end %>
    </ul>
    <%= form_for :new_category, :url => categories_path, :method => :post do |f| %>
        <%= f.text_field :name, :value=>"new category", size:40 %>
        <%= f.submit "new category"%>
    <% end %>
</div>
