<% @posts.each do |post| %> 
    <div class="main_body">
        <div class="elem">
            <div class="elem_header">
                <%= link_to post.title,  post_path(post) %>
            </div>
            <div class="elem_footer">
                <p>发表日期:<%= time_ago_in_words(post.created_at)%></p>
                <p>浏览次数:<%= post.view_times %></p>
                <p>所述类别:<%= get_category_tag(post.category_id) %></p>
                <p>评论次数:<%= comments_length(post) %></p>
            </div>
        </div>
    </div>
<% end %>
<%= will_paginate @posts %>
