<% if !post.nil? %>
    <p>
    <h1>
        <post_title>
        <%= post.title %>
        </post_title>
    </h1>
    </p>
    <div>
        <span>
            <span class="glyphicon glyphicon-calendar">
            </span> 
            Time: <%= time_ago_in_words(post.created_at)%>
        </span> Ago &nbsp&nbsp&nbsp

        <span>
            <span class="glyphicon glyphicon-tags">
            </span>
            Tags: <post_category><%= get_category_tag(post.category_id) %></post_category>
        </span>&nbsp&nbsp&nbsp

        <span>
            <span class="glyphicon glyphicon-eye-open">
            </span> View Times: 
            <%= post.view_times %>
        </span>&nbsp&nbsp&nbsp

        <span>
            <span class="glyphicon glyphicon-eye-open">
            </span> Comments: 
            <%= comments_length(post) %>
        </span>

    </div>

    <div class="jumbotron">
        <p>
            <post_content>
            <% if !post.content.nil? %>
                <%= markdown(post.content)%>
            <% end %>
            </post_content>
        </p>
    </div>

    <div>
        <% pre_post = find_previous_post(post) %>
        <% next_post = find_next_post(post) %>

        <div>
        <% if !pre_post.nil? %>
            <%= link_to "previous post: " + pre_post.title, post_path(pre_post) %>
        <% else %>
            <%= link_to "no previous post", "#" %>
        <% end %>
        </div>

        <div>
        <% if !next_post.nil? %>
            <%= link_to "next post: " + next_post.title, post_path(next_post) %>
        <% else %>
            <%= link_to "no next post", "#" %>
        <% end %>
        </div>

    </div>

    <% if !@comments.nil? %>
        <%= render 'shared/comments', :comments=>@comments %>    
        <%= render 'shared/comment_form', :comment=>@comment %>    
    <% end %>

<% end %>
