<% if !post.nil? %>
    <p><h1><%= post.title %></h1></p>
    &nbsp&nbsp
    <span><span class="glyphicon glyphicon-calendar"></span> Time:
        <%= time_ago_in_words(post.created_at)%></span>
    Ago &nbsp&nbsp&nbsp
    <span><span class="glyphicon glyphicon-tags"></span> Tags:
        <%= get_category_tag(post.category_id) %></span>
    &nbsp&nbsp&nbsp
    <span><span class="glyphicon glyphicon-eye-open"></span> View 
    Times: 
        <%= post.view_times %></span>
    <div class="jumbotron">
        <p><%= markdown(post.content)%></p>
    </div>

    <% if !@comments.nil? %>
        <%= render 'shared/comments', :comments=>@comments %>    
        <%= render 'shared/comment_form', :comment=>@comment %>    
    <% end %>

<% end %>
