<div class="main_body">
    <div class="post_list">
        <%= render 'shared/post_item', :post=>@post  %>
    </div>

    <% if login? %>
    <div class="button_list">
        <ul>
            <li>
            <div class="mybutton">
                <%= link_to "back", posts_path %>
            </div>
            </li>

            <% if @post.user_id == current_user.id %>
            <li>
            <div class="mybutton">
                <%= link_to "edit", edit_post_path(@post), 'data-no-turbolink' => true %>
            </div>
            </li>

            <li>
            <div class="mybutton">
                <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
            </div>
            </li>
            <% end %>

        </ul>
    </div>
    <% end %>

    <%= render 'comments/comments' %>
    <div class="comment_form">
        <%= render 'comments/comment_form' %>
    </div>
</div>
