<!DOCTYPE html>
<html>
    <head>
        <title>Region8848</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="header">
            <div class="title">
                Region8848
            </div>

            <div class="menu">
                <ul>
                    <li>
                    <%= link_to "主页", static_pages_home_path %>
                    </li>
                    <li>
                    <%= link_to "论坛", categories_path %>
                    </li>

		    <li><a>商城</a></li>

                    <li>
                    <%= link_to "文章日记", static_pages_posts_path %>
                    </li>
                    <li>
                    <%= link_to "关于我", static_pages_about_me_path %>
                    </li>
                    <li>
                    <%= link_to "感谢", static_pages_thanks_path %>
                    </li>
                </ul>
            </div>
		<div class="menu_login">
                <% if login? %>
                    <%= link_to current_user.name, '#' %>
                    <%= link_to '登出', logout_path, { method: :delete } %>
                <% else %>
                    <%= link_to '登陆', login_path %>
                    <%= link_to '注册', signup_path %>
                <% end %>
                </div>
        </div>

        <div class="main"> 
            <%= yield %>
        </div>

        <div class="footer">
            <div class="footer_body">
                <small>
                    And before I'd be a slave I'll be buried in a my grave And go home to my Lord and be free
                    | 2014 | 
                    <a href="mailto:assassinpig@gmail.com">Send a email to me</a>
                </small>
            </div>
        </div>
    </body>
</html>
